body {
	color: #333333;
	background-color: #eefaab;
}

#container {
	width: 800px;
	margin: 0 auto;
	background-color: #ffffff;
	border: 1px solid #333;
	border-bottom: 2px solid #222;
	border-right: 2px solid #222;
	padding: 10px;
	margin: 5px 10px;
}

#content pre {
	border: 1px solid #333;
}